.section {
    max-width: 950px;
    padding: 15px;
    box-shadow: 3px 3px 10px #ccc;
    margin: 10px auto;
}

.section__header {
    color: rgb(158, 73, 13);
}

.section__paragraph {
    color:darkblue
}

.section__paragraph--special {
    color:rgb(132, 20, 20);
}